<div id="myModal1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Proposition 1</h3>
  </div>
  <div class="modal-body">
    <%= image_tag asset_path('brice/Logo aeir.png') %>
    <hr>
    <%= image_tag asset_path('brice/Logo amicale.png') %>
    <hr>
    <%= image_tag asset_path('brice/Logo Bde.png') %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
  </div>
</div>

<div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Proposition 2</h3>
  </div>
  <div class="modal-body">
    <%= image_tag asset_path('charrier/petales_amicale_bleu_fondBlanc.png') %>
    <hr>
    <%= image_tag asset_path('charrier/petales_BDE_bleu_fondBlanc_alpha.png') %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
  </div>
</div>

<div id="myModal3" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Proposition 3</h3>
  </div>
  <div class="modal-body">
    <h3>Plus d'informations <a href="http://aloa-12.fr/logo/appli/">ici</a></h3>
    <%= image_tag asset_path('gaelus/molecule BdE.jpg') %>
    <hr>
    <%= image_tag asset_path('gaelus/molecule AEI') %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
  </div>
</div>

<div id="myModal4" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Proposition 4</h3>
  </div>
  <div class="modal-body">
    <h3>Plus d'informations <a href="http://bit.ly/10a2lYJ">ici</a></h3>
    <%= image_tag asset_path('pm/vignette.jpg') %>
    <hr>
    <%= image_tag asset_path('pm/ebauche.png') %>
    <hr>
    <%= image_tag asset_path('pm/france.png') %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
  </div>
</div>

<div id="myModal5" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Proposition 5</h3>
  </div>
  <div class="modal-body">
    <%= image_tag asset_path('germain/logo_bde.png') %>
    <hr>
    <%= image_tag asset_path('germain/logo_amicale.png') %>
    <hr>
    <%= image_tag asset_path('germain/logo_aei.png') %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
  </div>
</div>

<div id="myModal6" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Proposition 6</h3>
  </div>
  <div class="modal-body">
    <%= image_tag asset_path('roubiere/logo_bde.png') %>
    <hr>
    <%= image_tag asset_path('roubiere/logo_amicale.png') %>
    <hr>
    <%= image_tag asset_path('roubiere/logo_aei.png') %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
  </div>
</div>