<div  id="proposition">
  <h2>1. Choisis un logo</h2>

  <div class="row-fluid">
    <ul class="thumbnails">

      <li class="span5">
        <div class="thumbnail">
          <%= image_tag asset_path"brice/vignette.png" %>

          <div class="btn-group">
            <a class="btn" href="#myModal1" data-toggle="modal"><i class="icon-info-sign"></i> En savoir plus</a>
            <a class="btn btn-vote" href="#vote" data-choice="1"><i class="icon-thumbs-up"></i> Voter</a>
          </div>

        </div>
      </li>

      <li class="span5">
        <div class="thumbnail">
          <%= image_tag asset_path"charrier/vignette.png" %>
          <div class="btn-group">
            <a class="btn" href="#myModal2" data-toggle="modal"><i class="icon-info-sign"></i> En savoir plus</a>
            <a class="btn btn-vote" href="#vote" data-choice="2"><i class="icon-thumbs-up"></i> Voter</a>
          </div>
        </div>
      </li>

      <li class="span5">
        <div class="thumbnail">
          <%= image_tag asset_path"gaelus/vignette.png" %>
          <div class="btn-group">
            <a class="btn" href="#myModal3" data-toggle="modal"><i class="icon-info-sign"></i> En savoir plus</a>
            <a class="btn btn-vote" href="#vote" data-choice="3"><i class="icon-thumbs-up"></i> Voter</a>
          </div>
        </div>
      </li>

      <li class="span5">
        <div class="thumbnail">
          <%= image_tag asset_path"pm/vignette.jpg" %>
          <div class="btn-group">
            <a class="btn" href="#myModal4" data-toggle="modal"><i class="icon-info-sign"></i> En savoir plus</a>
            <a class="btn btn-vote" href="#vote" data-choice="4"><i class="icon-thumbs-up"></i> Voter</a>
          </div>
        </div>
      </li>

      <li class="span5">
        <div class="thumbnail">
          <%= image_tag asset_path"germain/vignette.png" %>
          <div class="btn-group">
            <a class="btn" href="#myModal5" data-toggle="modal"><i class="icon-info-sign"></i> En savoir plus</a>
            <a class="btn btn-vote" href="#vote" data-choice="5"><i class="icon-thumbs-up"></i> Voter</a>
          </div>
        </div>
      </li>

      <li class="span5">
        <div class="thumbnail">
          <%= image_tag asset_path"roubiere/vignette.png" %>
          <div class="btn-group">
            <a class="btn" href="#myModal6" data-toggle="modal"><i class="icon-info-sign"></i> En savoir plus</a>
            <a class="btn btn-vote" href="#vote" data-choice="6"><i class="icon-thumbs-up"></i> Voter</a>
          </div>
        </div>
      </li>

    </ul>
  </div>

</div>

<hr>

<div id="vote">
  <h2>2. Confirme ton vote</h2>
  <%= render 'form'  %>
</div>