<!DOCTYPE html>
<html>
<head>
  <title>AEI - Concours de Logo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

  <div class="masthead">
    <ul class="nav nav-pills pull-right">
      <li class="active"><a href="#">Présentation</a></li>
      <li><a href="#proposition">Propositions</a></li>
      <li><a href="#vote">Vote</a></li>
    </ul>
    <h3 class="muted">Concours Logo</h3>
  </div>

  <% if flash[:notice] %>
    <div class="alert alert-info"><%= flash[:notice] %></div>
  <% end %>
  <% if flash[:alert] %>
    <div class="alert alert-error"><%= flash[:alert] %></div>
  <% end %>

  <hr>

  <div class="jumbotron">
    <h1>Vote pour le prochain logo de ton BdE/Amicale !</h1>
    <p class="lead">Phase finale du concours de création de logo des BdE/Amicales des INSA.</p>
  </div>

  <hr>

  <div class="presentation row-fluid" >
    <h2>Présentation & réglement du concours</h2>

    <div class='span6'>
      <h4>Nos valeurs</h4>
      <p>Les logos ont été créés selon les critères suivants : Simplicité, Sérieux, Unicité et Fun <small>( beaucoup de fun )</small></p>
      <h4>Les déclinaisons</h4>
      <p>Trois déclinaisons des logos doivent être proposées : un logo BdE, un logo Amicale, un logo pour l'AEI.</p>
    </div>

    <div class='span5'>
      <h4>La réutilisabilité</h4>
      <p>Une possibilité de conversion du logo présenté en charte graphique doit être possibile à partir du logo.</p>
      <h4>Technique</h4>
      <p>Pas plus de 3 couleurs, adaptable en N&B, lisible même petit.</p>
    </div>
  </div>

  <hr>
  <p>En cas de problème sur l'application de vote n'hésitez pas à envoyer un mail à communication[a]aei-insa.fr</p> 
  
  <hr>

  <%= yield %>

  <%= render "votes/modal" %>
</div>

</body>
</html>
